.search_box {
    height: 50px;
    width: calc(100% - 100px);
    margin: 0 50px;
    position: relative;
}

.input {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    font-family: "Times New Roman";
    font-size: 25px;
    text-indent: 20px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 0 15px yellowgreen;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.input::placeholder {
    color: yellowgreen;
}

.input:focus {
    outline: none;
}


.button {
    position: absolute;
    top: 10px;
    right: 20px;
}

.button:hover {
    cursor: pointer;
}

.errorMsg {
    font-family: "Times New Roman";
    font-size: 20px;
    color: red;
    position: absolute;
    top: 60px;
    left: 10px;
}

.title {
    color: green;
    font-family: 'Times New Roman';
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
}

.text {
    font-family: 'Times New Roman';
    font-size: 20px;
}

.header_contatiner {
    margin: 10px 40px 0 40px;
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.total_completed_appointment {
    margin: 10px;
    width: 300px;
    height: 80px;
    background-color: #00BF63;
    padding: 20px;
}

.total_completed_appointment i {
    color: #80EBAD;
    font-size: 80px;
    transform: translateY(-80px);
}

.total_income {
    margin: 10px;
    width: 300px;
    height: 80px;
    background-color: yellowgreen;
    padding: 20px;
}

.total_income i.fa-money-bill {
    color: #ADFF2F;
    font-size: 90px;
    transform: translateY(-57px);
}

.total_completed_appointment_value, .total_income_value {
    color: white;
    font-family: 'Times New Roman';
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.total_completed_appointment_title, .total_income_title {
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: right;
}

.bar_container {
    margin: 10px 50px;
    width: 700px;
}

.appointments {
    margin: 0 50px;
    border-collapse: collapse;
    width: calc(100% - 100px);
}

.appointments_headers {
    background-color: #00BF63;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.appoinments_rows:nth-child(even) {
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: center;
    
}

.appoinments_rows:nth-child(odd) {
    background-color: #b0fad4;
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: center;
}

.appoinments_data {
    padding: 5px;
    border: 1px solid green;
}

.appoinments_data label {
    cursor: pointer;
}

.hidden_form{
    display: none;
}

.total {
    color: green;
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    padding: 8px;
}

.total_service_charge {
    color: green;
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 8px;
}

.download_excel {
    text-decoration: none;
    color: green;
    font-size: 35px;
}
